* {
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Segoe UI';
    font-size: 12px;
    width: 423px;
    padding: 5px;
    margin: 5px;
  }
ul {
    list-style-type: none;
    border-bottom: 1px solid #b6bccc;
    padding: 1px 6px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(212, 219, 237, 1) 37%, rgba(212, 219, 237, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(23%, rgba(255, 255, 255, 1)), color-stop(37%, rgba(212, 219, 237, 1)), color-stop(100%, rgba(212, 219, 237, 0)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(212, 219, 237, 1) 37%, rgba(212, 219, 237, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(212, 219, 237, 1) 37%, rgba(212, 219, 237, 0) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(212, 219, 237, 1) 37%, rgba(212, 219, 237, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(212, 219, 237, 1) 37%, rgba(212, 219, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00d4dbed', GradientType=0);
}
ul li {
    display: inline-block;
    margin-right: 9px;
}
#container {
    padding: 12px 6px 6px 6px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 18px #000;
    background: -moz-linear-gradient(top, rgba(189, 222, 253, 0.72) 0%, rgba(189, 222, 253, 0.72) 1%, rgba(240, 248, 254, 0.72) 27%, rgba(189, 222, 253, 0.72) 28%, rgba(184, 219, 253, 0.72) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(189, 222, 253, 0.72)), color-stop(1%, rgba(189, 222, 253, 0.72)), color-stop(27%, rgba(240, 248, 254, 0.72)), color-stop(28%, rgba(189, 222, 253, 0.72)), color-stop(100%, rgba(184, 219, 253, 0.72)));
    background: -webkit-linear-gradient(top, rgba(189, 222, 253, 0.72) 0%, rgba(189, 222, 253, 0.72) 1%, rgba(240, 248, 254, 0.72) 27%, rgba(189, 222, 253, 0.72) 28%, rgba(184, 219, 253, 0.72) 100%);
    background: -o-linear-gradient(top, rgba(189, 222, 253, 0.72) 0%, rgba(189, 222, 253, 0.72) 1%, rgba(240, 248, 254, 0.72) 27%, rgba(189, 222, 253, 0.72) 28%, rgba(184, 219, 253, 0.72) 100%);
    background: -ms-linear-gradient(top, rgba(189, 222, 253, 0.72) 0%, rgba(189, 222, 253, 0.72) 1%, rgba(240, 248, 254, 0.72) 27%, rgba(189, 222, 253, 0.72) 28%, rgba(184, 219, 253, 0.72) 100%);
    background: linear-gradient(to bottom, rgba(189, 222, 253, 0.72) 0%, rgba(189, 222, 253, 0.72) 1%, rgba(240, 248, 254, 0.72) 27%, rgba(189, 222, 253, 0.72) 28%, rgba(184, 219, 253, 0.72) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b8bddefd', endColorstr='#b8b8dbfd', GradientType=0);
}
#main-div {
    background: rgb(240, 240, 240);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(217, 228, 241, 1) 19%, rgba(217, 228, 241, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(19%, rgba(217, 228, 241, 1)), color-stop(100%, rgba(217, 228, 241, 1)));
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(217, 228, 241, 1) 19%, rgba(217, 228, 241, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(217, 228, 241, 1) 19%, rgba(217, 228, 241, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(217, 228, 241, 1) 19%, rgba(217, 228, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(217, 228, 241, 1) 19%, rgba(217, 228, 241, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d9e4f1', GradientType=0);
}
#closebar {
    margin-left: 306px;
    width: 101px;
    height: 18px;
    border: 1px solid #525c66;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -12px;
    margin-bottom: 9px;
}
#calc {
    border: 1px solid #5d6c7a;
}
td {
    border: 1px solid #8898ab;
    border-radius: 2px;
    color: #1f3977;
    box-shadow: 0 0 1px 1px white inset;
    width: 33px;
}
#main-table {
    width: 97%;
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    border-spacing: 5px;
    border-collapse: separate;
}
.radio {
    text-align: left;
    padding: 3px;
}
p.calc {
    margin-top: -8px;
    padding-left: 3px;
    text-shadow: 0px 0px 10px #FFFFFF;
    display: inline-block;
    float: left;
    vertical-align: top;
}
#display {
    font-size: 2em;
    font-family: Consolas;
    color: #000000;
    text-align: right;
    padding: 12px 4px 6px;
    background: rgb(222, 235, 247);
    background: -moz-linear-gradient(top, rgba(222, 235, 247, 1) 0%, rgba(252, 252, 252, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(222, 235, 247, 1)), color-stop(100%, rgba(252, 252, 252, 1)));
    background: -webkit-linear-gradient(top, rgba(222, 235, 247, 1) 0%, rgba(252, 252, 252, 1) 100%);
    background: -o-linear-gradient(top, rgba(222, 235, 247, 1) 0%, rgba(252, 252, 252, 1) 100%);
    background: -ms-linear-gradient(top, rgba(222, 235, 247, 1) 0%, rgba(252, 252, 252, 1) 100%);
    background: linear-gradient(to bottom, rgba(222, 235, 247, 1) 0%, rgba(252, 252, 252, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#deebf7', endColorstr='#fcfcfc', GradientType=0);
}
#binary-window {
  font-family: Consolas;
  padding: 2px 0px 1px 4px;
}
#binary-window  td {
    border: none;
    line-height: 0.9em;
    box-shadow: none;
    height: 10px;
    width: 30px;
}
#binary-window td:not(:first-child) {
    padding-left: 16px;
}
#binary-window td.left {
    text-align: left;
    color: #666666;
}
#binary-window td.right {
    text-align: right;
    color: #666666;
}
p.input {
    font-size: 11px;
    margin-bottom: -11px;
}
input {
    float: left;
    display: inline-block;
    margin: 2px 1px 1px 2px;
}
.biggest {
    font-size: 2em;
    font-weight: bold;
    line-height: 14px;
}
.inactive {
    box-shadow: none;
    background-color: transparent;
}
.larger {
    font-size: 1.3em;
}
.button {
    background: rgb(246, 250, 254);
    background: -moz-linear-gradient(top, rgba(246, 250, 254, 1) 0%, rgba(230, 237, 245, 1) 50%, rgba(213, 224, 237, 1) 51%, rgba(215, 226, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 250, 254, 1)), color-stop(50%, rgba(230, 237, 245, 1)), color-stop(51%, rgba(213, 224, 237, 1)), color-stop(100%, rgba(215, 226, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 250, 254, 1) 0%, rgba(230, 237, 245, 1) 50%, rgba(213, 224, 237, 1) 51%, rgba(215, 226, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 250, 254, 1) 0%, rgba(230, 237, 245, 1) 50%, rgba(213, 224, 237, 1) 51%, rgba(215, 226, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 250, 254, 1) 0%, rgba(230, 237, 245, 1) 50%, rgba(213, 224, 237, 1) 51%, rgba(215, 226, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 250, 254, 1) 0%, rgba(230, 237, 245, 1) 50%, rgba(213, 224, 237, 1) 51%, rgba(215, 226, 239, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6fafe', endColorstr='#d7e2ef', GradientType=0);
}
.numbers {
    background: rgb(246, 250, 254);
    background: -moz-linear-gradient(top, rgba(247, 251, 255, 1) 0%, rgba(247, 251, 255, 1) 50%, rgba(231, 237, 245, 1) 51%, rgba(231, 237, 245, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 251, 255, 1)), color-stop(50%, rgba(247, 251, 255, 1)), color-stop(51%, rgba(231, 237, 245, 1)), color-stop(100%, rgba(231, 237, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(247, 251, 255, 1) 0%, rgba(247, 251, 255, 1) 50%, rgba(231, 237, 245, 1) 51%, rgba(231, 237, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 251, 255, 1) 0%, rgba(247, 251, 255, 1) 50%, rgba(231, 237, 245, 1) 51%, rgba(231, 237, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 251, 255, 1) 0%, rgba(247, 251, 255, 1) 50%, rgba(231, 237, 245, 1) 51%, rgba(231, 237, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(247, 251, 255, 1) 0%, rgba(247, 251, 255, 1) 50%, rgba(231, 237, 245, 1) 51%, rgba(231, 237, 245, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#e7edf5', GradientType=0);
}
.button:hover, .numbers:hover, .ms:hover {
    border: 1px solid #ffdb00;
    background: rgb(255, 244, 233);
    background: -moz-linear-gradient(top, rgba(255, 244, 233, 1) 0%, rgba(254, 226, 194, 1) 49%, rgba(255, 207, 106, 1) 50%, rgba(255, 235, 133, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 244, 233, 1)), color-stop(49%, rgba(254, 226, 194, 1)), color-stop(50%, rgba(255, 207, 106, 1)), color-stop(100%, rgba(255, 235, 133, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 244, 233, 1) 0%, rgba(254, 226, 194, 1) 49%, rgba(255, 207, 106, 1) 50%, rgba(255, 235, 133, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 244, 233, 1) 0%, rgba(254, 226, 194, 1) 49%, rgba(255, 207, 106, 1) 50%, rgba(255, 235, 133, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 244, 233, 1) 0%, rgba(254, 226, 194, 1) 49%, rgba(255, 207, 106, 1) 50%, rgba(255, 235, 133, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 244, 233, 1) 0%, rgba(254, 226, 194, 1) 49%, rgba(255, 207, 106, 1) 50%, rgba(255, 235, 133, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff4e9', endColorstr='#ffeb85', GradientType=0);
}
.backspace {
    padding-bottom: 5px;
}
.asterisk {
    padding-top: 2px;
    height: 24px;
}
.smaller {
    font-size: 11px;
}
